body {
	background: url("../images/whitey.png");
	scroll-behavior: auto;
}

.jumbotron {
	background-color: #ff3b77;
	height: 150px;
}

.jumbotron h1 {
	margin: auto;
	color:white;
	font-family: 'Abril Fatface', cursive;
}

/*Main Content*/
.container {
	position: relative;
	border-radius: 40px;
	color: #644d52;
	text-align: center;
	font-size: 30px;
}

#main-div {
	padding: 20px;
	margin-bottom: 100px;
	background: #fff;
	border-radius: 5px;
	border: 1px solid #ff3b77;
	background: url("../images/playstation-pattern.png");
}

#question {
	padding-top: 20px;
	padding-bottom: : 20px;
	font-family: 'Abril Fatface', cursive;
}

#answer {
	font-family: 'Abril Fatface', cursive;
}

#stats {
	font-style: italic;
	font-size: 24px;
	font-family: 'Abril Fatface', cursive;
}

.btn-default {
	background: none;
	border: none;
	font-size: 30px;
	color: #644d52;
}
img {
	height: 350px;
	width: 700px;
	padding: 0;
}

#timer {
	color: #ff0000;
}

#first {
	font-weight: bold;
}

#firstRow {
	margin-top: 30px;
}

#start {
	width: 200px;
	margin-top: 100px;
	border: 2px solid #9B9A9C;
	background: #fff;
	font-family: 'Abril Fatface', cursive;
	font-weight: bold;
	color: #ff3b77;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	margin-top: 10px;
	padding: 25px 0;
	font-size: 12px;
	font-family: 'Abril Fatface', cursive;
	color: #F1EBE3;
	text-align: center;
	border-top: 4px solid #ff3b77;
	background: #52656b;
}

@media screen and (max-width: 768px) {

body {
	background: url("../images/whitey.png");
	scroll-behavior: auto;
}

.jumbotron {
	background-color: #ff3b77;
	height: 100px;
}

img {
	height: 175px;
	width: 340px;
	padding: 0;
}

}

@media screen and (max-width: 640px) {

body {
	background: url("../images/whitey.png");
	scroll-behavior: auto;
}

.jumbotron {
	background-color: #ff3b77;
	height: 100px;
}

img {
	height: 175px;
	width: 340px;
	padding: 0;
}

}
