body {
	background: url("../images/circles-and-roundabouts.png");
}

header {
	text-align: center;
	margin-bottom: 40px;
	color: #8e2800;
}

h1 {
	font-size: 50px;
}

/*Main Content*/
.container {
	background: url("../images/crossword.png");
	padding: 20px;
}

.col-md-12 {
	text-align: center;
	font-size: 30px;
}

#question {
	padding-top: 50px;
}

#stats {
	font-style: italic;
	font-size: 24px;
}

.btn-default {
	background: none;
	border: none;
	font-size: 30px;
}
img {
	height: 430px;
	width: 760px;
	padding: 20px;
}

#timer {
	color: #ff0000;
}

#first {
	font-weight: bold;
}

#firstRow {
	margin-top: 50px;
}

#start {
	margin-top: 100px;
	width: 300px;
	border: 2px solid #1f8a70;
}