body {
	background: url("../images/whitey.png");
	scroll-behavior: auto;
}

.jumbotron {
	background-color: #644d52;
	height: 150px;
}

.jumbotron h1 {
	margin: auto;
	color:white;
}

/*Main Content*/
.container {
	border-radius: 40px;
	color: #644d52;
	text-align: center;
	font-size: 30px;
}

#main-div {
	padding: 20px;
	background: #fff;
	border-radius: 5px;
	border: 2px solid #a49a87;
	background: url("../images/playstation-pattern.png");
}

#question {
	padding-top: 20px;
	padding-bottom: : 20px;
}

#stats {
	font-style: italic;
	font-size: 24px;
}

.btn-default {
	background: none;
	border: none;
	font-size: 30px;
	color: #644d52;
}
img {
	height: 350px;
	width: 700px;
	padding: 20px;
}

#timer {
	color: #ff0000;
}

#first {
	font-weight: bold;
}

#firstRow {
	margin-top: 30px;
}

#start {
	color: #644d52;
	margin-top: 100px;
	width: 300px;
	background: url("../images/whitey.png");
	border: 2px solid #a49a87;
}

#connect {
    width: 100%;
    margin: auto;
    height: 50px;
}

.social {
    margin: 20px 0 0 10px;
    width: 90px;
    height: 90px;
}

.github {
    margin: 22px 0 0 5px;
    width: 110px;
    height: 90px;
}

footer {
	position: fixed;
	bottom: 0;
	margin-top: 10px;
	width: 100%;	
	padding: 25px 0;
	font-size: 12px;
	color: #F1EBE3;
	text-align: center;
	border-top: 4px solid #f77a52;
	background: #332532;
}

